{% extends 'myapp/base.html' %}
{% block content %} 
{% load crispy_forms_tags %} 
<!--View Connection--> 
<div class="container py-5">
    <h1>Confirm Connections</h1>
    <table class="table">
        {% for connection in connection_list %}
        <tr>
            <td>{{connection.sender.first_name}}</td>
            <td>{{connection.sender.last_name}}</td>
            <td><a href="connected/{{connection.sender.id}}">Accept</a></td>
        </tr>
        {% endfor %}
    </table>
    <!-- <form method="post">
        {% csrf_token %}
        <ul>
            {% for con in connection_list.objects.all %}
                <li><a href="{% url 'shopping:detail' supermart_list.id %}">{{ choice.name }}</a></li>
                
            {% endfor %}
        </ul>

        {{ form|crispy }}                    
		<button class="btn btn-primary" type="submit">Accept</button>
    </form> -->
</div>
{% endblock content %}